<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/library.css" th:href="@{/css/library.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--  <title>Title</title>-->
</head>
<th:block th:fragment="sideBarFragment">
    <body class="whole">
    <div>
        <div class="line1"></div>
        <!--    <div class="textLogo">Ashley-library</div>-->
        <div class="sideBar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/members/new">회원등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members/memberList">회원목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book/bookRegistration">도서등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book/bookList">도서목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members/checkOutReturn">대여/반납 현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members/monthlyCheckOut">월별대여횟수</a>
                </li>

            </ul>

        </div>
    </div>
    <!--<button class="lentButton" >대여</button>-->
    <!--<button class="returnButton">반납</button>-->
    </body>
</th:block>
</html>