<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/library.css" th:href="@{/css/library.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<!--    <link rel="stylesheet" type="text/css" media="all"
          href="../common/sideBar.html" th:href="@{/common/sideBar.html}"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <!--    <title>회원등록</title>-->
</head>
<div th:replace="~{./common/header :: headerFragment}"></div>


<div>
    <div class="line1"></div>
<!--    <div class="textLogo">Ashley-library</div>-->

    <div class="regiBox">
        <div class="createMember">
            <form action="/members/new" id="createMemberForm" name = "createMemberForm" method="post">

                <table class="createTable memberVer">
                    <tr>
                        <td>
                            <label for="name">이름</label>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" placeholder="이름을입력하세요" autofocus>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="phone">전화번호</label>
                        </td>
                        <td>
                            <input type="text" id="phone" name="phone" placeholder="ex)01012345678">
                        </td>
                    </tr>
                </table>
                <button class="addMemberButton cancel" type="button" onclick="location.href='/'">취소</button>
                <!--<button class="addMemberButton ok" type="submit">등록</button>-->
                <button class="addMemberButton ok" type="button" onclick="joinFormCheck();">등록</button>
        </form>
        </div>

    </div>

</div>
<div th:replace="~{./common/sideBar :: sideBarFragment}"></div>
<div th:replace="~{./common/footer :: footerFragment}"></div>
<script th:src="@{/js/createMemberJs.js}"></script>
</html>