<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/library.css" th:href="@{/css/library.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../common/sideBar.html" th:href="@{/common/sideBar.html}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <!--    <title>회원등록</title>-->
</head>
<div th:replace="~{./common/header :: headerFragment}"></div>
<div th:replace="~{./common/sideBar :: sideBarFragment}"></div>

<div>
    <div class="line1"></div>
    <div class="textLogo">Ashley-library</div>

    <div class="regiBox">
        <div class="form-group">
            <form action="/members/new" method="post">

                <table class="createTable">
                    <tr>
                        <td>
                            <label for="name">이름</label>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" placeholder="이름을입력하세요">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="phone">전화번호</label>
                        </td>
                        <td>
                            <input type="text" id="phone" name="phone" placeholder="전화번호를입력하세요">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="birth">생년월일</label>
                        </td>
                        <td>
                            <input type="text" id="birth" name="birth" placeholder="생년월일 8자리">
                        </td>
                    </tr>

                </table>
                <button class="addMemberButton cancel" type="button" onclick="location.href='/'">취소</button>
                <button class="addMemberButton ok" type="submit">등록</button>
        </form>
        </div>

    </div>

</div>
<div th:replace="~{./common/footer :: footerFragment}"></div>

</html>