<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  <title>memberList</title>-->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/library.css" th:href="@{/css/library.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div th:replace="~{./common/header :: headerFragment}"></div>
<div class="line1"></div>
<!--<div class="textLogo">Ashley-library</div>-->
<body>
<div class="bgArea">

    <table class="bookTable">
        <thead>
        <tr>
            <th class="tableTitle">No.</th>
            <th class="tableTitle">제목</th>
            <th class="tableTitle">저자</th>
            <th class="tableTitle">출판사</th>
        </tr>
        <tbody>
        <tr th:each="bookList,status : ${bookList}">
            <!--          <td th:text="${numStat.count}"></td>-->
            <td th:text="${(nowPage * 10) - 10 + status.count}"></td>
            <td>
                <a th:text="${bookList.title}" th:href="@{/book/bookDetail(id=${bookList.id})}"></a>
            </td>
            <td th:text="${bookList.author}"></td>
            <td th:text="${bookList.publisher}"></td>
        </tr>
        </tbody>
        </thead>


    </table>
    <!--   <div class="pagination justify-content-center">
           <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
           <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
       </div>-->

    <nav th:if="${totalPage != 0}">
        <div class="container">
            <ul class="pagination pagination-primary m-4">

                <li class="page-item ">
                    <!-- 첫 페이지로 이동 -->
                    <a class="page-link"
                       th:href="@{/book/bookList(page=1)}"
                       aria-level="First">
                        <span aria-hidden="true"><<<i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a>
                </li>

                <li class="page-item active">
                    <!-- 이전 페이지 -->
                <li th:if="${hasPrev} ? 'disabled'">
                    <a class="page-link" th:href="@{/book/bookList(page=${nowPage-1})}"
                       aria-level="Previous"> &lt;</a>
                <li>
                </li>


                <!-- 페이지 번호 -->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:class="(page == ${pageNo}+1) ? 'page-item active'">
                    <a class="page-link" th:text="${page}"
                       th:href="@{/book/bookList(page = ${nowPage +1})}"></a>
                </li>

                <li class="page-item">
                    <!-- 다음 페이지 -->
                    <li th:if="${hasNext} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/book/bookList(page=${nowPage+1})}"
                           aria-level="Next"> &gt;</a>
                    </li>
                </li>
                <li class="page-item">
                    <!-- 마지막 페이지 -->
                    <a class="page-link" th:href="@{/book/bookList/(page=${totalPage})}" aria-level="Last">
                        >> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

</div>


</body>


<div th:replace="~{./common/sideBar :: sideBarFragment}"></div>
<div th:replace="~{./common/footer :: footerFragment}"></div>
</html>