/* Rectangle 2 */

#lentButton{
font-size: 60px;
position: absolute;
width: 497px;
height: 373px;
left: 410px;
top: 202px;
background: #FFA7D6;
cursor: pointer;
}
#returnButton{
font-size: 60px;
position: absolute;
width: 497px;
height: 373px;
left: 1017px;
top: 200px;
cursor: pointer;

background: #F9F871;
}

.newLogo{
 position: absolute;
/*width: 140px;
height: 22px;*/
 left: 200px;
 top: 14px;
 max-width: 10%;
 max-height: 10%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #000000;

}

.sideBar{

/* Rectangle 1 */

text-decoration: none;
position: absolute;
width: 187px;
height: 675px;
left: 172px;
top: 114px;
color: #000000;
font-weight:bold;
font-size:14px;
background:#FFACB5;
}
.line1{

position: absolute;
width: 1468px;
height: 0px;
left: 172px;
top: 113.5px;
z-index: 3;
border: 1px solid #000000;
transform: rotate(0.02deg);
}
.footBox{
/* Rectangle 26 */


position: absolute;
width: 1463px;
height: 191px;
left: 172px;
top: 789px;
z-index: 1;
background: #F5F5F5;
}

.footAddress{
position: absolute;
width: 885px;
height: 19px;
left: 302px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;


}
.bottomLine{
position: absolute;
width: 1463px;
height: 0px;
left: 172px;
top: 789px;
z-index: 3;
border: 1px solid #000000;
}

/*member*/
.regiBox{
/* Rectangle 8 */


position: absolute;
width: 806px;
height: 490px;
left: 528px;
top: 190px;

background: #EBF2F5;
}
.homeIcon{
position: absolute;
left: 1460px;
right: 3.89%;
top: 60px;
bottom: 90.33%;
cursor: pointer;
}
.form-group{
margin-left:220px;
margin-top:120px;


}

.addMemberButton{
    margin-left:30px;
    margin-left:30px;
    margin-top:30px;
    width:120px;
    height:60px;
}
.addMemberButton.cancel{
    background-color:#F9F871;

}
.addMemberButton.ok{
    background-color:#FFBC82;
}
.createTable{
  border-collapse: separate;
  border-spacing: 10px 20px;
}
.memberListContainer{
    width: 700px;
    margin-left: 480px;
    margin-top:200px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
.memberListContainer table{
    width:100%;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
}

.tableTitle{
   font-size: 17px;
}
/*.memberListContainer, th,td{
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 20px;

}*/
.createMember{
    margin-left:220px;
    margin-top:120px;
    font-weight:bold;
    font-size:19px;

}
.memberDetailView{
    border-collapse: separate;
    border-spacing: 0 20px;
    border-spacing: 10px;
    font-size:17px;
    font-weight:bold;




}

.nav-link{
    color:#000000;
}

a{
   font-decoration:none;
   color:#000000;
}
body > div.memberListContainer > table > tbody > tr > td > a{
   font-decoration:none;
   color:#000000;
}

body > div.memberListContainer > table > tbody > tr{
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 20px;
}
body > div.memberListContainer > table > thead > tr{
    border-bottom: 1px solid #444444;
    padding: 10px;
    font-size: 20px;
}

.bookRegiBox{
 /* Rectangle 8 */


 position: absolute;
 width: 806px;
 height: 490px;
 left: 528px;
 top: 190px;

 background: #EBF2F5;
 }


 .bookCreateTable{
   border-collapse: separate;
   border-spacing: 10px 20px;
   font-size: 20px;
   position:relative;
   left:-80px;
   top:-20px;
 }
 .bookCreateTable >tbody > tr > td >input{
    width:430px;
    height:40px;
 }

 #searchIsbn{
   font-size:20px;
 }
.memberDetail{
   position:relative;
   left:200px;
   top:110px;

}
.memberDetail>table >tbody>tr>td >input{
    width:270px;
    height:40px;

}
.bgArea{
    width:800px;
    height:600px;
    margin-left : 520px;
    margin-top: 160px;
    border-top: 1px solid #444444;
    border-collapse: collapse;


}

.bgArea table{
    width:100%;
    font-size: 17px;
    line-height: 30px;



}

.bgArea > table >thead >  tr {
    border-collapse: collapse;
    border-bottom: 1px solid #444444;
}





.bgArea table{
  border-spacing: 12px;
  border-collapse: separate;
}
.tableTitle{
   text-align:center;
}
.bgArea table a{
   font-decoration:none;
   color:#000000;
}
.bookDetail{
    margin-left : 140px;
    margin-top : 30px;

}
.bookDetail table{
   border-spacing: 12px;
   border-collapse: separate;
}
.checkOutTable{
  left:-90px;
  top:-20px;
   border-collapse: separate;
   border-spacing: 10px 20px;
   font-size: 20px;
   position:relative;

}
 .checkOutTable >tbody > tr > td >input{
    width:300px;
    height:40px;
 }
.bookDivisionLine {
  border-top: 1px solid #444444;
  margin: 20px 0px;
  margin-left:-90px;
  width: 700px;
}
.bgCheckOutReturn{
   width:1200px;
   height:600px;
   margin-left : 400px;
   margin-top: 160px;
   border-top: 1px solid #444444;
   border-collapse: collapse;
}
.bgCheckOutReturn table{
  /*border-spacing: 12px;*/
  border-spacing: 10px 10px;
  border-collapse: separate;
  text-align: center;
}
.borrowStatusTable{
   font-size:18px;
}
.errorPage{
    width:800px;
    height:600px;
    margin-left : 520px;
    margin-top: 200px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    font-size:40px;
    text-align:center;

}

